@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

body {
  max-width: 1000px;
  margin: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 16px;
  text-align: left;
}

thead tr {
  background-color: #333333;
  color: #fff;
}

th, td {
  padding: 10px 15px;
  border: 1px solid #ddd;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:nth-child(odd) {
  background-color: #fff;
}

tbody tr:hover {
  background-color: #e6f7ff;
}

button {
  margin-left: 5px;
  /* padding: 8px; */
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

button:hover {
  transform: translateY(-2px);
}

button.action-btn {
  font-size: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

button.delete:hover {
  background-color: #e53935;
  transform: translateY(-2px);
}

.title {
  margin-bottom: 10px;
  background-color: #333333;
  color: #f6f6f6;
  padding: 8px 0;
  text-align: center;
}

input {
  display: flex;
  padding: 5px;
  margin: 8px auto;
  width: 40%;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

form {
  display: block;
  margin-top: 40px;
}

.submit {
  display: block;
  margin: 0 auto;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 600;
  background-color: #EC5A5C;
  color: #faf6f6;
}

select {
  margin-left: 10px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  font-size: 16px;
}

.bigger-input {
  width: 85%;
}

.list-head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}


.divider {
  border: 1px solid black;  
  margin: 29px 0 23px 0px;
}


.pdf-button a {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #EC5A5C;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

.pdf-button a:hover {
  background-color: #d9534f;
}

.btn-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .title {
    width: 100%;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  select {
    width: 90%; /* Full width on smaller screens */
  }

 /* .user-list-heading {
  font-size: 25px;
 }  */

}